.footer {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-top: calc(var(--scale-20) + var(--scale-10));
  margin-bottom: var(--scale-7);
  padding-top: var(--spacing-8);
  border-top: var(--stroke-xs) solid var(--stroke-divider-page);
}

.line {
  margin: 0;
  font-size: var(--typography-footnote-large-size);
  line-height: var(--typography-footnote-large-line-height);
}

.emphasis {
  color: var(--text-base-primary);
  font-weight: var(--typography-footnote-large-weight);
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-1);
  margin-top: var(--scale-1-5);
}

.copyright {
  margin-top: var(--scale-6);
}

.link {
  color: var(--text-base-secondary);
  font-weight: var(--typography-footnote-large-weight);
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

.link:hover {
  color: var(--text-base-primary);
}
