.panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--spacing-4);
  width: 100%;
  padding: var(--spacing-2-5) var(--spacing-3);
  border-radius: var(--radius-lg);
  background: var(--material-card-shallow);
}

.labels,
.values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--scale-1-5);
}

.label {
  color: var(--text-base-secondary);
  font-size: var(--typography-footnote-large-size);
  line-height: var(--typography-footnote-large-line-height);
  font-weight: var(--typography-footnote-large-weight);
  white-space: nowrap;
}

.value {
  color: var(--text-base-primary);
  font-size: var(--typography-footnote-large-size);
  line-height: var(--typography-footnote-large-line-height);
  font-weight: var(--typography-footnote-large-strong-weight);
  white-space: nowrap;
}

.personList {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-1);
}

.person {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-05);
}
